.airpeger_float p:first-of-type {
  margin-top: 0;
  margin-block-start: 0;
  background-color: red;
  padding: 0;
}

.airpeger_float_container {
  display: flex;
}

.airpeger_float_gifs img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 2px solid #dbc5ab;
  object-fit: cover;
}

.airpeger_float_text {
  width: 400px;
  padding: 5px;
}
